<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="POM Demo" parallel="false" thread-count="3">
	<parameter name="baseURL" value="http://www.practiceselenium.com/" />
		<test name="Run in Chrome Browser">
			<parameter name="browserType" value="chrome" />
			<classes>
				<class name="org.testing.pomtests.TestRunner" />
			</classes>
		</test>
</suite> 